@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  background-color: #eef3ee; /* optional background */
  color: #0d1218;            /* optional text color */
}
